* {
  text-decoration: none;
  list-style: none;
  outline: none;
  cursor: pointer;
}

body,
html {
  background-color: #edeeef;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

hr {
  border: none;
  height: 1px;
}

.bodyContainer {
  padding: 0 4em;
  min-height: 100%;
  /* set equal to footer height */
  margin-bottom: -150px;
}

.bodyContainer:after {
  content: "";
  display: block;
}

footer,
.bodyContainer:after {
  height: 150px;
}

input {
  outline: none;
  background-color: inherit;
}


/* APP COMPONENT */

.appTitle {
  color: #ff5000;
  font-size: 2.75em;
  margin: 1em 0 0 0;
}

.appHR {
  height: .25em;
  background-color: lightgray;
  margin: 0 0 2em 0;
}


/* TODO COMPONENT */

.todoList {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todoItem {
  border-top: solid 1px;
  padding: 1em 0 0 0;
  margin: 0 1em 1em 0;
  flex: 1 0 45%;
}

.todoItem > span {
  display: block;
}

.todoItemTimestamp {
  font-size: 0.75em;
  font-weight: 300;
}

footer {
  background-color: #26454c;
  color: white;
  /*height: 100px;*/
}
